{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EducaFast Cronograma</title>
    <link rel="stylesheet"  href="{% static 'cronograma/cronograma.css' %}">
</head>
<body>
        <div class="layout">
    <aside class="barra-lateral">
        <div class="logo-barra-lat">EDUCA<strong> FAST</strong></div>
        <div class="barra-lateral-tagline">Revisão para o enem</div>

        <a class="nav-item" data-page="dashboard" onclick="navigate(this, 'dashboard')">
        <span class="nav-icone">🏠</span> Dashboard
        </a>
        <a class="nav-item" data-page="flashcards" onclick="navigate(this, 'flashcards')">
        <span class="nav-icone">🃏</span> Flashcards
        </a>
        <a class="nav-item" data-page="desempenho" onclick="navigate(this, 'desempenho')">
        <span class="nav-icone">📊</span> Desempenho
        </a>
        <a class="nav-item active" data-page="cronograma" onclick="navigate(this, 'cronograma')">
        <span class="nav-icone">📅</span> Cronograma
        </a>
        <a class="nav-item" data-page="assuntos" onclick="navigate(this, 'assuntos')">
        <span class="nav-icone">📌</span> Assuntos recorrentes
        </a>

        <div class="barra-lateral-label">Ferramentas</div>

        <a class="nav-item" data-page="cronometro" onclick="navigate(this, 'cronometro')">
        <span class="nav-icone">⏱️</span> Cronômetro
        </a>

        <div class="sidebar-footer">
        <a href="/" class="btn-sair">
            <span>🚪</span> Sair
        </a>
        </div>
    </aside>

        <main class="conteudo-principal">
            <header class="header-pagina"><h1>Cronograma</h1></header>
            <section class="grade-cronograma">
                <div class="dia-coluna">SEGUNDA-FEIRA</div>
                <div class="dia-coluna">TERÇA-FEIRA</div>
                <div class="dia-coluna">QUARTA-FEIRA</div>
                <div class="dia-coluna">QUINTA-FEIRA</div>
                <div class="dia-coluna">SEXTA-FEIRA</div>

                
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                <div class="slot-vazio" onclick="abrirModal(this)"></div>
                

            </section>
        </main>
    </div>

    <div id="modalMateria" class="modal-overlay">
        <div class="modal-content">
            <h3>Nova sessão de estudo</h3>
            <label>Disciplina</label>
            <select id="selectDisciplina">
                <option value="Matemática">Matemática</option>
                <option value="Biologia">Biologia</option>
                <option value="Redacao">Redação</option>
                <option value="Fisic">Física</option>
                <option value="Quimica">Química</option>
                <option value="Linguagens">Linguagens</option>
                <option value="Historia">História</option>
                <option value="Geografia">Geografia</option>
            </select>

            <label>Tipo</label>
            <select id="selectTipo">
                <option value="Exercicio">Exercício</option>
                <option value="Revisao">Revisão</option>
                <option value="Simulado">Simulado</option>
                <option value="Leitura">Leitura</option>
                <option value="Pratica">Prática</option>
            </select>
            
            <label>Atividade</label>
            <input type="text" id="inputAtividade" placeholder="Ex: Simulado ENEM / Conteúdo">
            <div class="modal-actions">
                <button class="btn-cancelar" onclick="fecharModal()">Cancelar</button>
                <button class="btn-adicionar" id="btnSalvar">Adicionar</button> 
            </div>
        </div>
    </div>

    <div id="modalConfirmar" class="modal-overlay">
    <div class="modal-content">
        <h3>Apagar sessão</h3>
        <p>Deseja apagar este bloco?</p>

        <div class="modal-actions">
            <button class="btn-cancelar" onclick="fecharConfirmacao()">Cancelar</button>
            <button class="btn-adicionar" onclick="confirmarExclusao()">Apagar</button>
        </div>
    </div>
</div>

<script>
    let slotSelecionado = null;
    function abrirModal(elemento) {
        slotSelecionado = elemento;
        document.getElementById('modalMateria').style.display = 'flex';
        }

    function fecharModal() {
        document.getElementById('modalMateria').style.display = 'none';
        }

    window.onclick = function(event) {
    if (event.target == document.getElementById('modalMateria')) fecharModal();
        }

    function adicionarMateria(disciplina, tipo, atividade) {
        if (!slotSelecionado) return;

        slotSelecionado.classList.remove("slot-vazio");
        slotSelecionado.classList.add("slot-materia");

        slotSelecionado.innerHTML = `
            <div class="materia-nome">${disciplina}</div>
            <div class="materia-detalhe">${atividade}</div>
            <div class="tag-tipo">${tipo}</div>
            `;

        fecharModal();}
    
    document.getElementById("btnSalvar").onclick = function() {
        let disciplina = document.getElementById("selectDisciplina").value;
        let tipo = document.getElementById("selectTipo").value;
        let atividade = document.getElementById("inputAtividade").value;

        adicionarMateria(disciplina, tipo, atividade);
    }

    let slotParaExcluir = null;

    function abrirConfirmacao(slot) {
        slotParaExcluir = slot;
        document.getElementById('modalConfirmar').style.display = 'flex';
    }

    function fecharConfirmacao() {
        document.getElementById('modalConfirmar').style.display = 'none';
    }

    function confirmarExclusao() {
        if (!slotParaExcluir) return;

        slotParaExcluir.innerHTML = '';
        slotParaExcluir.classList.remove('slot-materia');
        slotParaExcluir.classList.add('slot-vazio');

        fecharConfirmacao();
    }
    window.onclick = function(event) {

    const modal = document.getElementById('modalMateria');
    const modalConfirm = document.getElementById('modalConfirmar');

    if (event.target == modal) fecharModal();
    if (event.target == modalConfirm) fecharConfirmacao();
    const slot = event.target.closest('.slot-materia');

    if (slot) {
        abrirConfirmacao(slot);
    }
}

</script>
</body>
</html>
