{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>EducaFast — Sem cronograma</title>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=DM+Serif+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'cronograma/sem_cronograma.css' %}">


</head>
<body>
    <div class="box">
        <h1>Nenhum cronograma ativo</h1>
        <p>Você ainda não tem um cronograma criado. Crie um para começar a organizar seus estudos.</p>
        <a href="#">Criar cronograma</a>
    </div>
</body>
</html>